<%= form_for([@client,@contact_info], url: { action: action }) do |f| %>
  <% if @contact_info.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h2><%= pluralize(@contact_info.errors.count, "error") %>
      <%= t('prohibited_this_from_being_saved', obj: t('contact_info')) %>:</h2>
        <ul>
        <% @contact_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <%= notice %>
    </div>
    <script type="text/javascript">
      $( document ).ready(function()
      {
        $('.field_with_errors').css ("display","block");
        $('.field_with_errors').css ("background-color","#eee");
        $('.field_with_errors').css ("border-radius","3px");
      });
    </script>
  <% end %>

<h1><%= t(method + '_contact_info_for', first_name: @contact_info.client.first_name, last_name: @contact_info.client.last_name) %></h1>

<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend></legend>

        <%= f.hidden_field :client_id %>

        <div class="form-group">
          <%= f.label t('name'), class:'col-lg-2 control-label', required: true  %>
          <div class="col-lg-10">
          <%= f.text_field :name, class: "form-control", required: true, placeholder: t('name') %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('value'), class:'col-lg-2 control-label', required: true  %>
          <div class="col-lg-10">
          <%= f.text_field :value, class: "form-control", required: true, placeholder: t('value') %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= link_to t('cancel'), client_path(@contact_info.client.id), class:"btn btn-default" %>
            <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<% end %>
