<p id="notice"><%= notice %></p>

<h1>Listing Contact Infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @contact_infos.each do |contact_info| %>
      <tr>
        <td><%= contact_info.name %></td>
        <td><%= contact_info.value %></td>
        <td><%= link_to 'Show', client_contact_info_path(@client, contact_info) %></td>
        <td><%= link_to 'Edit', edit_client_contact_info_path(@client, contact_info) %></td>
        <td><%= link_to 'Destroy', client_contact_info_path(@client, contact_info), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact info', new_client_contact_info_path %>
