<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @person.cuit %>
</p>

<p>
  <strong>Legal:</strong>
  <%= @person.legal %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
