<%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
            <% @client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend></legend>
        <div class="form-group">
          <%= f.label :first_name, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :first_name, class:'form-control', placeholder: :first_name %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :last_name, class:'form-control', placeholder: :last_name %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :birthday, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.date_field :birthday, class:'form-control', placeholder: :birthday %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :gender, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <% @genders = options_for_select(
                    [
                        ['Male', "M"],
                        ['Female', "F"]
                    ]
                ) %>
            <%= f.select :gender, @genders, {}, { class:'form-control', required: true } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :dni, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :dni, class:'form-control', placeholder: :dni %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cuit, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :cuit, class:'form-control', placeholder: :cuit %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :email, class:'form-control', placeholder: :email %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :address, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :address, class:'form-control', placeholder: :address %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :telephone, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :telephone, class:'form-control', placeholder: :telephone %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :skype, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :skype, class:'form-control', placeholder: :skype %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :facebook, class:'col-lg-2 control-label' %>
          <div class="col-lg-10">
            <%= f.text_field :facebook, class:'form-control', placeholder: :facebook %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<% end %>