<%= form_for(@client, url: { action: action }) do |f| %>
<% if @client.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2><%= pluralize(@client.errors.count, "error") %>
    <%= t('prohibited_this_from_being_saved', obj: t('client')) %>:</h2>
      <ul>
      <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <%= notice %>
  </div>
  <script type="text/javascript">
    $( document ).ready(function()
    {
      $('.field_with_errors').css ("display","block");
      $('.field_with_errors').css ("background-color","#eee");
      $('.field_with_errors').css ("border-radius","3px");
    });
  </script>
<% end %>

<h1><%= t(method + '_client') %></h1>

<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <div class="container-fluid">
          <legend></legend>

          <%= f.hidden_field :cuit %>

          <div class="row">
            <div class="form-group">
              <%= f.label t('first_name'), class:'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.text_field :first_name, class:'form-control', placeholder: t('first_name'), required: true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= f.label t('last_name'), class:'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.text_field :last_name, class:'form-control', placeholder: t('last_name'), required: true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= f.label t('birthday'), class:'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.date_field :birthday, class:'form-control', placeholder: t('birthday') %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= f.label t('gender'), class:'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.select :gender, @genders, {}, { class: 'form-control', required: true } %>
              </div>
            </div>
          </div>

          <% if action == "create" %>
          <div class="row">
            <div class="form-group">
              <label class="col-lg-2 control-label" for="client_email"><%= t('Email') %></label>
              <div class="col-lg-10">
                <input class="form-control" placeholder="Email" type="text" name="email" id="client_email" required="true" value="<%= @email %>">
              </div>
            </div>
          </div>
          <% end %>

          <div class="row">
            <div class="form-group">
              <%= f.label t('dni'), class:'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.text_field :dni, class:'form-control', placeholder: t('dni'), maxlength: "8", required: true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-2">
              <%= f.label t('cuit'), class:' control-label' %>
            </div>
            <div class="form-group col-xs-2">
              <input class="form-control " placeholder="<%= t('type') %>" type="text" id="type_cuit" maxlength="2">
            </div>
            <div class="form-group col-xs-6">
              <input class="form-control " placeholder="<%= t('number') %>" type="text" id="number_cuit" maxlength="8">
            </div>
            <div class="form-group col-xs-2">
              <input class="form-control " placeholder="<%= t('verification') %>" type="text" id="verification_cuit" maxlength="1">
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= link_to t('cancel'), clients_path, class:"btn btn-default" %>
                <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<% end %>

<script type="text/javascript">

  $( document ).ready(function() {
    setCuitInputs();

    $('.<%= method %>_client').submit (function () {
      setHiddenCuit();
    });

    $('#client_dni').keyup (function () {
      $('#number_cuit').val($('#client_dni').val());
      if ($('#client_dni').val().length == 8)
      {
        calculateCuit ($('#client_dni').val());
      }
    });
  });

  function calculateCuit(dni)
  {
    var gCode = getGenderCode();

    if (gCode == false)
      return;

    setTypeCuit(gCode);

    dni = dni.split("");

    var almostCuit = dni.map(function (x) {
      return parseInt(x, 10);
    });

    almostCuit.unshift(gCode[1]);
    almostCuit.unshift(gCode[0]);

    var mult = [5, 4, 3, 2, 7, 6, 5, 4, 3, 2];
    var total = 0;

    for (var i = 0; i < mult.length; i++)
    {
      total += almostCuit[i] * mult[i];
    }

    var mod = total % 11;
    var verification = mod == 0 ? 0 : mod == 1 ? 9 : 11 - mod;

    setVerificationCuit (verification);
  }

  function getGenderCode ()
  {
    if ($('#client_gender').val() != "")
    {
      if ($('#client_gender').val() == "F")
        return [2,7];
      else
        return [2,0];
    }
    else
    {
      return false;
    }
  }

  function setTypeCuit (genderCode)
  {
    $('#type_cuit').val (genderCode[0].toString() + genderCode[1].toString());
  }

  function setVerificationCuit (verification)
  {
    $('#verification_cuit').val (verification);
  }

  function setHiddenCuit ()
  {
    $('#client_cuit').val ($('#type_cuit').val() + $('#number_cuit').val() + $('#verification_cuit').val());
  }

  function setCuitInputs ()
  {
    if ($('#client_cuit').val () != "")
    {
      var type = $('#client_cuit').val ().substr(0,2);
      var number = $('#client_cuit').val ().substr(2,8);
      var verification = $('#client_cuit').val ().substr(10,1);

      $('#type_cuit').val(type);
      $('#number_cuit').val(number);
      $('#verification_cuit').val(verification);
    }
  }
</script>
