<div class="col-lg-6">
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender == "F" ? "Female" : "Male" %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @client.cuit %>
</p>

<% for @contact_info in @client.contact_infos %>
  <p>
    <strong><%= @contact_info.name.titleize %>:</strong>
    <%= @contact_info.value %>
  </p>
<% end %>

<p>
  <strong>Bills issued:</strong>
  <%= @client.bills.count %>
</p>
</div>

<div class="col-lg-6">
  Age: <%= @client.age %>
  <br>
  <br>
  Amount of bills issued on December: <%= @client.amount_of_bills_issued_on 12 %>
  <br>
  <br>

  <div id="selectContainter">
    <div class="floatLeft"> Total billed amount of </div>
    <select id="totalAmountSelect" class="floatLeft">
        <option>2015</option>
        <option>2016</option>
        <option>2017</option>
    </select>
    <div id="totalAmount" class="floatLeft">
     =&nbsp; $<%= @client.total_amount_collected_in 2015 %>
    </div>
  </div>

  <% @people_with_amount = @client.most_bills_issued_people %>
  <div class="page-header">
    <h2 id="tables">Most bills issued people</h2>
  </div>
  <div class="bs-component">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Person</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <%  @people_with_amount.each do |person| %>
          <tr>
            <td><%= person[0] %></td>
            <td><%= person[1] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New bill', new_client_bill_path(@client), class:"btn btn-primary" %>
<%= link_to 'New contact info', new_client_contact_info_path(@client), class:"btn btn-primary" %>
<%= link_to 'Edit', edit_client_path(@client), class:"btn btn-primary" %>
<%= link_to 'Back', clients_path, class:"btn btn-primary" %>

<script type="text/javascript">
  var total_amount_path = "<%= total_amount_client_path %>"

  $( document ).ready(function() {
    $('#totalAmountSelect').change(function ()
      {
        $.ajax({
          url: total_amount_path + $('#totalAmountSelect').val(),
          success: function (data) {
            $('#totalAmount').html("=&nbsp; $"+data);
          }
        });
      });
  });
</script>
