<div class="col-lg-6">
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender == "F" ? "Female" : "Male" %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @client.cuit %>
</p>

<% for @contact_info in @client.contact_infos %>
  <p>
    <strong><%= @contact_info.name.titleize %>:</strong>
    <%= @contact_info.value %>
  </p>
<% end %>

<p>
  <strong>Bills issued:</strong>
  <%= @client.bills.count %>
</p>
</div>

<div class="col-lg-6">
  Age: <%= @client.age %>
  <br>
  <br>
  <div id="selectContainter">
    <div class="floatLeft"> Amount of bills issued in </div>
    <select id="amountOfBillsSelect" class="floatLeft">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <div id="amountOfBills" class="floatLeft">
     <%= Time.now.utc.to_date.year %>&nbsp;=&nbsp;<%= @client.amount_of_bills_issued_in 1 %>
    </div>
  </div>

  <br>
  <br>

  <div id="selectContainter">
    <div class="floatLeft"> Total billed amount of </div>
    <select id="totalAmountSelect" class="floatLeft">
        <option>2015</option>
        <option selected="true">2016</option>
        <option>2017</option>
    </select>
    <div id="totalAmount" class="floatLeft">
     =&nbsp; $<%= @client.total_billed_amount_collected_in 2016 %>
    </div>
  </div>

  <% @people_with_amount = @client.most_bills_issued_people %>
  <div class="page-header">
    <h2 id="tables">Most bills issued people</h2>
  </div>
  <div class="bs-component">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Person</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <%  @people_with_amount.each do |person| %>
          <tr>
            <td><%= person[0] %></td>
            <td><%= person[1] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New bill', new_client_bill_path(@client), class:"btn btn-primary" %>
<%= link_to 'New contact info', new_client_contact_info_path(@client), class:"btn btn-primary" %>
<%= link_to 'Edit', edit_client_path(@client), class:"btn btn-primary" %>
<%= link_to 'Back', clients_path, class:"btn btn-primary" %>

<script type="text/javascript">
  var total_billed_amount_path = "<%= total_billed_amount_client_path %>"
  var amount_of_bills_path = "<%= amount_of_bills_path %>"

  $( document ).ready(function() {
    //Get total billed amount of the selected year
    $('#totalAmountSelect').change(function ()
      {
        $.ajax({
          url: total_billed_amount_path + $('#totalAmountSelect').val(),
          success: function (data) {
            $('#totalAmount').html("=&nbsp; $"+data);
          }
        });
      });

    //Get amount of bills issued on the selected month
    $('#amountOfBillsSelect').change(function ()
      {
        $.ajax({
          url: amount_of_bills_path + $('#amountOfBillsSelect').val(),
          success: function (data) {
            $('#amountOfBills').html("<%= Time.now.utc.to_date.year %>&nbsp;=&nbsp;"+data);
          }
        });
      });
  });
</script>
