<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Person</th>
      <th>Description</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.client %></td>
        <td><%= bill.person %></td>
        <td><%= bill.description %></td>
        <td><%= bill.total_amount %></td>
        <td><%= link_to 'Show', client_bill_path(@client, bill) %></td>
        <td><%= link_to 'Edit', edit_client_bill_path(@client,bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_client_bill_path %>
